* {
  margin: 0;
  padding: 0;
}

:root {
  --mm_red: hsl(348, 85%, 58%);
}

.linktree {
  font-family: sans-serif;
  width: 500px;
  background-color: #f2f2f2;
  /* border: 1px solid #000; */
  border-radius: 10px;
  text-align: center;
  /* box-shadow: 0px 0px 10px #888888; */
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  margin: 50px auto;
}

.linktree-header {
  padding: 20px;
  background-color: #3b3b3b;
  color: #e2e2e2;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.book_title {
  font-size: 36px;
  letter-spacing: 1.5px;
  word-spacing: 4px;
  margin-top: 12px;
  margin-bottom: 4px;
}

.book_subtitle {
  color: var(--mm_red);
  font-size: 18px;
  letter-spacing: 1px;
  margin-bottom: 20px;
}

.book_front-cover {
  width: 35%;
  border-radius: 4px;
  transition: width ease-in 0.3s;
}

.book_main-blurb {
  text-align: justify;
  /* text-justify: inter-word; */
  line-height: 1.5;
  margin: 0 auto;
  width: 80%;
  margin-top: 12px;
}

.book_front-cover:hover {
  width: 60%;
}

.linktree-links {
  padding: 20px;
}

#buy-now {
  font-size: 24px;
  color: #f2f2f2;
  letter-spacing: 1px;
  font-weight: 900;
  border-radius: 10px;
  width: 60%;
  margin: 0 auto;
  margin-bottom: 1.5rem;
  padding: 1rem 2rem;
  background-color: var(--mm_red);
  /* box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23); */
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.linktree-links .link {
  display: block;
  font-size: 24px;
  color: #333;
  text-decoration: none;
  margin-bottom: 10px;
  transition: all 0.3s;
}

.linktree-links .link:hover {
  color: #fff;
  background-color: var(--mm_red);
  padding: 10px;
  border-radius: 10px;
  font-size: 30px;
  letter-spacing: 1.5px;
  word-spacing: 3px;
}

.linktree-footer {
  padding: 20px;
  background-color: #333;
  color: #fff;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.linktree-footer a {
  font-size: 12px;
  color: #e2e2e2;
  text-decoration: none;
  transition: color ease-out 0.5s, font-size ease-out 1s;
}

.linktree-footer a:hover {
  color: var(--mm_red);
  font-size: 14px;
}

@media screen and (max-width: 512px) {
  .linktree {
    width: 90%;
    margin: 20px auto;
  }

  .book_title {
    font-size: 28px;
  }

  .book_front-cover:hover {
    width: 75%;
  }

  .linktree-links .link {
    font-size: 20px;
  }

  #buy-now {
    font-size: 20px;
    padding: 1rem 0.66rem;
  }
}